 /* Style.css */

 body{
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
 }

.quiz,
.scores {
    margin: 50px auto 0 auto;
    max-width: 400px;
}

#top {
    color: rgb(0, 0, 0);
}

.containerNew {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

p {
    margin: 15px 15px;
}

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 15px;
    left: 15px;
}



.timer {
    position: absolute;
    color: #000000;
    top: 15px;
    right: 15px;
}

.text{
    color: #000000;
}

.btn-main{
background-color: #6124e4;

}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color: #6e31f4;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color: #12458d;
}

.options button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
    border-radius: 0.75rem;
    border-color: #fff;
}

.hide {
    display: none;
    background-color: #fff;
    color: #fff;
}

.feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid #4B0082;
}

ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: #dfdae7;
}

@media screen and (max-width: 768px) {
    .containerNew {
        width: 80%;
    }

    body{
        background-image: url(../img/bg1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
     }
}

@media screen and (max-width: 575px) {
    .containerNew {
        width: 90%;
    }

    .quiz,
    .scores {
        max-width: 90%;
    }
}

